<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests">
<listeners>
<listener class-name="org.listners.Listners"/>
<!-- <listener class-name="org.listners.AnnotationTransformer"/> -->
</listeners>
  <test thread-count="5" name="Verify login pafe test of Rahul shetty academy">
    <classes>
      <class name="org.practicetests.LoginPageTests"/>
    </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="Checking home button is working in practice page">
    <classes>
      <class name="org.practicetests.HomePageTests"/>
    </classes>
  </test> <!-- Test -->
   <test thread-count="5" name="Checking radio button is wokring in Practice page">
    <classes>
      <class name="org.practicetests.PracticePageTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
